<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>lets check to see if you exist</h1>

<form action ="/login" method="post">
    Name:
    <input type="text" placeholder ="Enter your name" name="name"/>
    Email:
    <input type="email" placeholder = "Enter your email" name="email">

    <input type="submit"/>
</form>
<!--<form method="post" action="/login">
    <input type="email" name="email" required placeholder="Email Address" />
    <input type="submit" />
</form>-->

</body>
</html>